<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>ajaxTestServlet</servlet-name>
        <servlet-class>com.darren.test.servlet.AjaxTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxTestServlet</servlet-name>
        <url-pattern>/darren/ajaxTest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>includeTestServlet</servlet-name>
        <servlet-class>com.darren.test.servlet.IncludeTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>includeTestServlet</servlet-name>
        <url-pattern>/darren/includeTest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>forwardTestServlet</servlet-name>
        <servlet-class>com.darren.test.servlet.ForwardTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forwardTestServlet</servlet-name>
        <url-pattern>/darren/forwardTest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>redirectTestServlet</servlet-name>
        <servlet-class>com.darren.test.servlet.RedirectTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectTestServlet</servlet-name>
        <url-pattern>/darren/redirectTest</url-pattern>
    </servlet-mapping>
    
</web-app>